* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    color: grey;
    background-color: whitesmoke;
}

#pracownicy {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 5px;
}

#pracownicy h2 {
    padding: 20px 0;
    color: goldenrod;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#pracownicy #title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pracownicy #title span {
    margin: 0 5px;
    flex-basis: 10%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#pracownicy div[id*='uczen'] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

#pracownicy div[id*='uczen'] span {
    flex-basis: 10%;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}

#pracownicy div[id*='uczen'] input {
    padding: 2px;
    max-width: 10%;
    text-align: center;
    color: grey;
    background-color: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#pracownicy #oblicz {
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    border: 2px solid goldenrod;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: color .3s, border .3s;
}

#pracownicy #oblicz:hover {
    color: goldenrod;
    border: 2px solid grey;
}

.top-student {
    color: green;
}

.bad-student {
    color: firebrick;
}