body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: url('../img/image.jpg') no-repeat fixed center;
  background-size: cover; */
}

img {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}