/* 
  SIZING
*/
$section_width: 1210px;
$content_width: 1145px;
$description_width: 470px;

$img_width: 590px;
$form_img_width: 370px;
$form_img_heigth: 330px;

/* 
  COLORS
*/
$primary_color: #007646;
$dark_color: #2f2f2f;
$light_color: #ffffff;
$line_grey: #e2e2e2;
$line_green: #05814f;
$input_color: #929292;
